<div class="row text-center hero-image" 
	style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./media/image/pizza_hatter2.png');">
	<h1 class="display-5 fw-bold text-light my-auto" 
		style="font-family: 'Italiana', sans-serif;">
		ÉTLAP
	</h1>
</div>

<main>
	<!--
			<div class="container bg-body-tertiary">
				<div class="row">
					<select class="form-select" aria-label="Kategoriák">
						<option selected hidden>Kategoriák</option>
						<option value="1">Classic (vastag) 24-es pizza</option>
						<option value="2">Olasz (vékony) 32-es pizzák</option>
					</select>
				</div>
			</div>
			-->

	<div class="album py-5 mt-5">
		<div class="container">
			<div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 g-3 justify-content-center">
				<div class="col" ng-repeat="x in data track by $index">
					<div class="card p-4 mb-3 text-center border-4 w-auto" style="max-width: 19rem;">
						<img ng-src="./media/image/{{x.kep}}" alt="{{x.termekNev}}">
						<hr class="my-2">
						<div class="card-body">
						  <h5 class="card-title">{{x.termekNev}}</h5>
						  <p class="card-text">{{x.termekLeiras}}</p>
						  <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{$index}}">Kosárba</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div ng-repeat="x in data track by $index">
		<!-- Modal -->
		<div class="modal fade" id="modal{{$index}}" tabindex="-1" aria-labelledby="termek{{$index}}" aria-hidden="true">
			<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<h1 class="modal-title fs-5" id="termek{{$index}}">{{x.termekNev}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{x.termekLeiras}}
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Kosárba</button>
				</div>
			</div>
			</div>
		</div>
	</div>
</main>