<div class="row text-center hero-image" 
	style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./media/image/pizza_hatter3.jpg');">
	<h1 class="display-5 fw-bold text-light my-auto" 
		style="font-family: 'Julee'; src: url(../css/Julee-Regular.ttf);">
		ÉTLAP
	</h1>
</div>

<main>
	<!--
			<div class="container bg-body-tertiary">
				<div class="row">
					<select class="form-select" aria-label="Kategoriák">
						<option selected hidden>Kategoriák</option>
						<option value="1">Classic (vastag) 24-es pizza</option>
						<option value="2">Olasz (vékony) 32-es pizzák</option>
					</select>
				</div>
			</div>
			-->

	<div class="album py-5 mt-5">
		<div class="container">
			<div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 g-3 justify-content-center">
				<div class="col" ng-repeat="x in data track by $index">
					<div class="card p-4 mb-3 text-center border-4 w-auto border-danger" style="max-width: 19rem;">
						<img ng-src="./media/image/{{x.kep}}" alt="{{x.termekNev}}">
						<hr class="my-2" style="color: white;">
						<div class="card-body">
						  <h5 class="card-title">{{x.termekNev}}</h5>
						  <p class="card-text">{{x.termekLeiras}}</p>
						  <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{x.termekID}}">Kosárba</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div ng-repeat="x in data track by $index">
		<!-- Modal -->
		<div class="modal fade p-4 py-md-5 text-center" 
		     tabindex="-1" 
			 aria-labelledby="termek{{x.termekID}}" 
			 role="dialog"
			 id="modal{{x.termekID}}">
			<div class="modal-dialog" role="document">
			  <div class="modal-content rounded-4 shadow">
				<div class="modal-header p-5 pb-4 border-bottom-0">
				  <h1 class="fw-bold mb-0 fs-2" id="termek{{x.termekID}}">{{x.termekNev}}</h1>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
		  
				<div class="modal-body p-5 pt-0 justify-content-center">
				  <form class="" name="form{{x.termekID}}" novalidate>
					<img ng-src="./media/image/{{x.kep}}" width="200" height="200" class="img-fluid mx-auto d-block my-3">
					<div class="row">
						<p class="mb-2">Mekkora pizzát szeretne?</p>
					</div>

						<div class="form-check form-check-inline">
							<input class="form-check-input border-black" type="radio" name="meret" id="meret1">
							<label class="form-check-label" for="meret1">
							24 cm
							</label>
						</div>
						<div class="form-check form-check-inline mb-4">
							<input class="form-check-input border-black" type="radio" name="meret" id="meret2" checked>
							<label class="form-check-label" for="meret2">
							32 cm
							</label>
						</div>

					<div class="row">
					  <p class="mb-2">Milyenre szeretné a pizza szélét?</p>
					</div>

					  <div class="form-check form-check-inline">
						<input class="form-check-input border-black" type="radio" name="szel" id="vekony">
						<label class="form-check-label" for="vekony">
						  Vékony
						</label>
					  </div>
					  <div class="form-check form-check-inline mb-4">
						<input class="form-check-input border-black" type="radio" name="szel" id="vastag" checked>
						<label class="form-check-label" for="vastag">
						  Vastag
						</label>
					  </div>

					<div class="row">
						<p class="mb-2" ng-init="ar = x.termekAr">Ár: {{ar}} Ft</p>
					</div>

					<button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button">Rendelés</button>
					<hr class="my-4">
				  </form>
				</div>
			  </div>
			</div>
		  </div>


		<!--	
		<div class="modal fade" id="modal{{$index}}" tabindex="-1" aria-labelledby="termek{{$index}}" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="termek{{$index}}">{{x.termekNev}}</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						{{x.termekLeiras}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
						<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kosárba</button>
					</div>
				</div>
			</div>
		</div>
	-->
	</div>
</main>