<!-- Hero szekció háttérképpel és címmel -->
<div class="banner-container">
	<div class="banner-background"></div>
	<div class="banner-text">{{translations.contact}}</div>
</div>

<!-- Kapcsolati űrlap szekció -->
<div class="position-relative rotateCarouselRightIn my-5" 
	 style="font-family: 'ABeeZee'; src: url(../css/ABeeZee-Regular.ttf);">
	<div class="row mt-5 justify-content-center">
		<!-- Formát tartalmazó doboz -->
		<div class="text-warning border-5 border-warning shadow-bottom-end col-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7 d-flex flex-column"
		     style="border-style: double; background-color: #2B2B2B; min-height: 600px;">

			<!-- Cím -->
			<div class="row my-4">
				<h3 class="text-center">
					<i class="fa-regular fa-envelope"></i>
					<span class="text-capitalize text-small-caps ms-2">
						{{translations.contact}}
					</span>
				</h3>
			</div>

			<!-- Űrlap -->
			<form name="contactForm" 
				  class="needs-validation d-flex flex-column justify-content-between" 
				  novalidate>
				<div class="row gy-5 p-5 flex-grow-1">
					
					<!-- Név mező -->
					<div class="col-11">
						<label for="contact-name" 
							   class="form-label">
							{{translations.name}}
							<span class="text-danger">
								*
							</span>
						</label>
						<input id="contact-name" 
							   class="form-control" 
							   name="name" 
							   type="text"
							   placeholder="..." 
							   spellcheck="false" 
							   autocomplete="off" 
							   required
							   maxlength="100" 
							   ng-init="model.name=null" 
							   ng-model="model.name"
							   ng-disable-space>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success" 
							  ng-class="{'invisible': contactForm.name.$invalid}">
							&check;
						</span>
					</div>

					<!-- Email mező -->
					<div class="col-11 col-md-5">
						<label for="contact-email" 
							   class="form-label">
							{{translations.email}} 
							<span class="text-danger">
								*
							</span>
						</label>
						<div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
							<input id="contact-email" 
								   class="form-control" 
								   name="email" 
								   type="text"
								   placeholder="{{translations.example_email}}" 
								   spellcheck="false" 
								   autocomplete="off" 
								   required
								   maxlength="50" 
								   ng-init="model.email=null" 
								   ng-model="model.email"
								   ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}$/">
							 <span class="fw-bolder text-success"
								   ng-class="{'invisible': contactForm.email.$invalid}">&check;
							</span>
						</div>
					</div>

					<!-- Email megerősítés visszajelzés -->
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
							  ng-class="{'invisible': contactForm.email.$invalid}">&check;</span>
						<span data-bs-toggle="tooltip" 
							  data-bs-custom-class="custom-tooltip"
							  data-bs-html="true"
							  data-bs-title="&lt;p class='my-1'>Az e-mail cím ellenőrzése szükséges!&lt;/p>">
							<i class="fa-solid fa-circle-info text-primary ms-2"></i>
						</span>
					</div>


					<!-- Telefonszám mező -->
					<div class="col-11 col-md-5">
						<label for="contact-phone" 
							   class="form-label">
							<i class="fa-solid fa-mobile-screen"></i>
							{{translations.phone_num}} <span class="text-danger">*</span>
						</label>
						<div class="input-group">
							<span class="input-group-text">+</span>
							<input id="contact-countryCode" 
								   name="countryCode" 
								   type="text"
								   placeholder="00" 
								   class="form-control" 
								   maxlength="10"
								   ng-init="model.countryCode=null" 
								   ng-model="model.countryCode">
							<input id="contact-phone" 
								   name="phone" 
								   type="tel"
								   placeholder="0000000" 
								   class="form-control" 
								   maxlength="10"
								   ng-init="model.phone=null" 
								   ng-model="model.phone"
								   ng-pattern="/^(?!(0))[0-9]{7,10}$/">
						</div>
					</div>

					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span data-bs-toggle="tooltip"
							  data-bs-custom-class="custom-tooltip"
							  data-bs-html="true"
							  data-bs-title="&lt;p class='my-1'> Az országkód csak számokat tartalmazhat, és 1-4 karakter hosszú lehet.
											A telefonszámnak 7-10 számjegyből kell állnia, és nem kezdődhet 0-val.&lt;/p>">
							<i class="fa-solid fa-circle-info text-primary ms-2"></i>
						</span>
					</div>

					<!-- Üzenet mező -->
					<div class="col-11">
						<label for="contact-uzenet" 
							   class="form-label">
							{{translations.msgs}} 
							<span class="text-danger">
								*
							</span>
						</label>
						<textarea id="contact-uzenet" 
								  class="form-control" 
								  name="uzenet" 
								  type="text"
							  	  rows="3" 
								  placeholder="..." 
								  spellcheck="false" 
								  autocomplete="off" 
								  required
							  	  maxlength="100" 
								  ng-init="model.uzenet=null" 
								  ng-model="model.uzenet">
						</textarea>
					</div>

					<!-- Gombok -->
					<div class="row my-3 justify-content-center">
						<hr>
						<div class="w-auto ms-auto">
							<button class="btn btn-outline-warning btn-lg w-auto me-3 text-uppercase" 
									type="button" 
									ng-disabled="contactForm.$invalid" 
									ng-click="methods.contact()">
								{{translations.send}}
							</button>
							<button class="btn btn-outline-secondary btn-lg w-auto me-3 text-uppercase" 
									type="button" 
									ng-click="methods.cancel()">
								{{translations.cancel}}
							</button>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>
