<!-- Hero image szakasz háttérképpel és címkével -->
<div class="banner-container">
	<div class="banner-background"></div>
	<div class="banner-text">{{translations.profile}}</div>
</div>

<!-- Fő konténer a profil űrlaphoz -->
<div class="container position-relative rotateCarouselRightIn my-5">
	<div class="row justify-content-center">

		<!-- Profil űrlap tartalmazó konténer -->
		<div class="text-warning border-5 border-warning
					shadow-bottom-end
					col-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7"
			style="border-style: double; 
			       background-color: #2B2B2B">

			<!-- Űrlap címe -->
			<div class="row my-4">
				<h3 class="text-center">
					<i class="fa-regular fa-address-card"></i>
					<span class="text-capitalize text-small-caps ms-2">
						{{translations.profile}}
					</span>
				</h3>
			</div>

			<!-- Profil űrlap -->
			<form name="profileForm" 
				  novalidate>

				<!-- E-mail mező (nem szerkeszthető) -->
				<div class="row mb-3">
					<label for="profile-email" 
						   class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-envelope me-1"></i>
						<span class="text-capitalize">
							{{translations.email}}:
						</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<input id="profile-email"
							   class="form-control form-control-disabled"
							   name="email" 
							   type="search"
							   spellcheck="false" 
							   autocomplete="off"
							   ng-model="model.email"
							   disabled>
					</div>
				</div>

				<!-- Név mező (kötelező) -->
				<div class="row mb-3">
					<label for="profile-name" 
						   class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-user me-1"></i>
						<span class="text-capitalize">
							{{translations.name}}:
						</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<input id="profile-name"
							   class="form-control"
							   name="name" 
							   type="search"
							   placeholder="..."
							   spellcheck="false" 
							   autocomplete="off" 
							   required
							   maxlength="100"
							   ng-model="model.name"
							   ng-clear-icon
							   ng-change="helper.isModified = true">
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
							  ng-class="{'invisible': profileForm.name.$invalid}">
							&check;
						</span>
					</div>
				</div>

				<!-- Telefonszám mező (országkód és telefonszám) -->
				<div class="row input-row mb-3">
					<label for="profile-phone" 
						   class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-mobile-screen me-1"></i>
						<span class="text-capitalize">
							{{translations.phone_num}}:
						</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<div class="input-group">
							<span class="input-group-text">+</span>
							<input id="profile-countryCode"
								   name="countryCode" 
								   type="search"
								   placeholder="00"
								   class="form-control"
								   spellcheck="false" 
								   autocomplete="off"
								   maxlength="2"
								   ng-model="model.countryCode"
								   style="max-width:100px;"
								   ng-disable-space
								   ng-change="helper.isModified = true">
							<input id="profile-phone"
								   name="phone" 
								   type="tel"
								   placeholder="0000000"
								   class="form-control"
								   spellcheck="false" 
								   autocomplete="off"
								   maxlength="9"
								   ng-model="model.phone"
								   ng-pattern="/^(?!(0))[0-9]{7,10}$/"
								   ng-change="helper.isModified = true">
						</div>						
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
						      ng-class="{'invisible': (!model.countryCode || !model.phone || profileForm.phone.$invalid || profileForm.countryCode.$invalid)}">
							&check;
						</span>
					</div>
				</div>

				<!-- Lakcím mező (kötelező) -->
				<div class="row mb-3">
					<label for="profile-address" 
						   class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-house-chimney me-1"></i>
						<span class="text-capitalize">{{translations.rAdress}}:</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<input id="profile-address"
							   class="form-control"
							   name="address" 
							   type="search"
							   placeholder="1234 Település, Példa u. 13"
							   spellcheck="false" 
							   autocomplete="off" 
							   required
							   maxlength="100"
							   ng-model="model.address"
							   ng-clear-icon>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
							  ng-class="{'invisible': profile.address.$invalid}">
							&check;
						</span>
					</div>
				</div>

				<!-- Gombok szakasz -->
				<div class="row mb-3 justify-content-end">
					<hr>
					
					<!-- Mentés gomb -->
					<button type="button"
							class="btn btn-outline-warning w-auto me-3 text-uppercase"
							ng-disabled="profileForm.$invalid || !helper.isModified"
							ng-click="methods.save()">
						{{translations.save}}
					</button>

					<!-- Mégsem gomb -->
					<button type="button"
							class="btn btn-outline-secondary w-auto me-3 text-uppercase"
							ng-click="methods.cancel()">
						{{translations.cancel}}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>