<!-- A hős kép és a cím rész -->
<div class="banner-container">
	<div class="banner-background"></div>
	<div class="banner-text">{{translations.order}}</div>
</div>

<!-- A rendelési form és kosár rész -->
<div class="container">
	<div class="row mt-5">
	  <div class="container">
		<main>
		  <div class="row g-5">
				<!-- Kosár megjelenítése -->
				<div class="col-md-5 col-lg-4 order-md-last">
					<h4 class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-warning">
						{{translations.cart}}
					</span>
					<!-- Kosár elemek száma -->
					<span class="badge bg-warning rounded-pill">
						{{cart.length}}
					</span>
					</h4>
					<ul class="list-group mb-3">
						<!-- Kosár elemeinek listázása -->
						<li class="list-group-item d-flex justify-content-between lh-sm" 
								ng-repeat="item in cart">
							<div>
								<h6 class="my-0">
									{{item.name}}
								</h6>
								<small class="text-body-secondary">
									{{item.description}}
								</small>
							</div>
							<span class="text-body-secondary">
								{{item.price}} HUF
							</span>
						</li>
						<!-- Végösszeg megjelenítése -->
						<li class="list-group-item d-flex justify-content-between">
							<span><strong>{{translations.total}}:</strong></span>
							<strong>{{osszeg}} HUF</strong>
						</li>
					</ul>
				</div>

				<!-- Számlázási cím és fizetési mód rész -->
				<div class="col-md-7 col-lg-8 text-warning">
					<h4 class="mb-3">
						{{translations.billing_add}}
					</h4>
					<!-- A rendelési űrlap -->
					<!--
					<form name="orderForm" 
						  ng-submit="submitOrder()"
						  ng-init="paymentMethods = [
								{ id: 'cash', label: translations.cash, value: 'cash' },
								{ id: 'credit-card', label: translations.credit_card, value: 'credit-card' },
								{ id: 'paypal', label: 'Paypal', value: 'paypal' }
						 ]">
					-->
					<form name="orderForm" 
						  ng-submit="submitOrder()"
						  ng-init="paymentMethods = [
								{ id: 'cash', label: translations.cash, value: 'cash' },
								{ id: 'credit-card', label: translations.credit_card, value: 'credit-card' }						 
						  ]">
						<div class="row g-3">
							<!-- Név mező -->
							<div class="col-12">
								<label for="name" 
									   class="form-label">
									   {{translations.name}}<span class="text-danger">*</span>
								</label>
								<input type="text" 
									   class="form-control" 
									   id="name" 
									   ng-model="model.name" 
									   required>
								</div>
								
								<!-- Email cím (opcionális) mező -->
								<div class="col-12">
								<label for="email" 
									   class="form-label">
									   {{translations.email}}
								</label>
								<input type="email" 
									   class="form-control" 
									   id="email" 
									   ng-model="model.email">
							</div>
							
							<!-- Kézbesítési cím mező -->
							<div class="col-12">
								<label for="address" 
									   class="form-label">
									   {{translations.delivery_add}}<span class="text-danger">*</span>
								</label>
								<input type="text" 
									   class="form-control" 
									   id="address" 
									   ng-model="model.address" 
									   required>
							</div>
						</div>
						
						<hr class="my-4">
						
						<!-- Fizetési mód rész -->
						<h4 class="mb-3">
							{{translations.pay}}<span class="text-danger">*</span>
						</h4>
						<div class="my-3">
							<!-- Fizetési módok kiválasztása (például PayPal, kártyás fizetés) -->
							<div class="form-check" 
								 ng-repeat="method in paymentMethods">
								<input id="{{method.id}}" 
									   name="paymentMethod" 
									   type="radio" 
									   class="form-check-input" 
									   ng-model="model.paymentMethod" 
									   value="{{method.value}}" 
									   required>
								<label class="form-check-label" 
									   for="{{method.id}}">
									   {{method.label}}
								</label>
							</div>
						</div>
						
						<!-- Bankkártya adatok, ha PayPal-t választanak -->
						<div class="row gy-3"
							 ng-show="model.paymentMethod === 'credit-card'">

							<!-- Név a kártyán -->
							<div class="col-md-6">
								<label for="cc-name" 
									   class="form-label">
									   {{translations.card_name}}<span class="text-danger">*</span>
								</label>
								<input type="text" 
									   class="form-control" 
									   id="cc-name" 
									   ng-model="model.cardName" 
									   required>
							</div>
							<!-- Bankkártya szám -->
							<div class="col-md-6">
								<label for="cc-number" 
									   class="form-label">
										{{translations.card_num}}<span class="text-danger">*</span>
								</label>
								<input type="text" 
									   class="form-control" 
									   id="cc-number" 
									   ng-model="model.cardNumber" 
									   required>
							</div>
							<!-- Lejárati dátum -->
							<div class="col-md-3">
								<label for="cc-expiration" 
									   class="form-label">
									   {{translations.card_expiration_date}}<span class="text-danger">*</span>
								</label>
								<input type="date" 
									   class="form-control" 
									   id="cc-expiration" 
									   ng-model="model.cardExpiry" 
									   required>
							</div>
							<!-- CVV -->
							<div class="col-md-3">
								<label for="cc-cvv" 
									   class="form-label">
									   {{translations.cvv}}<span class="text-danger">*</span>
								</label>
								<input type="text" 
									   class="form-control" 
									   id="cc-cvv" 
									   ng-model="model.cardCVV" 
									   required>
							</div>
						</div>
						
						<hr class="my-4">
						
						<!-- A rendelés gomb -->
						<button class="w-100 btn btn-outline-warning btn-lg" 
							    type="button"
							    ng-click="methods.order()">
								{{translations.order}}
						</button>
					</form>
				</div>
		  </div>
		</main>
	</div>
</div>